body {
  text-align: center;
  background-image: url('https://faithlovejoyhope.files.wordpress.com/2012/06/bee-flower-cute-background.gif');
  background-repeat: no-repeat;
  background-origin: fixed;
  background-size: 100%;
}

.form {
  text-align: center;
  margin-bottom: 180px;
  margin-top: 50%;
  
}

li {
  text-align: left;
  margin-left: 150px;
  margin-bottom: 30px;
}

.box {
  border-radius: 15%;
  border-color: #994d00;
  border-width: 0.5px;
  width: 300px;
  height: 25px;
}

.submit {
  border-radius: 15%;
  border-color: #994d00;
  border-width: 0.5px;
  width: 80px;
  height: 25px;
}

button {
  border-radius: 15%;
  border-color: #994d00;
  border-width: 0.5px;
  width: 30px;
  height: 15px;
}
