body {
  text-align: center;
  background-image: url('https://previews.123rf.com/images/mangpor2004/mangpor20041605/mangpor2004160500099/56383918-to-do-list-background-template.jpg');
  background-repeat: no-repeat;
  background-origin: fixed;
  background-size: cover;
  margin-bottom: 10%;
  margin-top: 17%;

}

.h1 {
  font-size: 25px;
  font-style: oblique;
  color: #994d00;
  text-align: left;
  margin-left: 150px;
  margin-bottom: 30px;
}

.form {
  text-align: left;
  margin-left: 150px;
  margin-bottom: 30px;
}

li {
  text-align: left;
  margin-left: 150px;
  margin-bottom: 30px;
}

.box {
  border-radius: 15%;
  border-color: #994d00;
  border-width: 0.5px;
  width: 300px;
  height: 25px;
}

.button {
  border-radius: 15%;
  border-color: #994d00;
  border-width: 0.5px;
  width: 80px;
  height: 25px;
}
